@model  BusinessObjects.Common.UserMaster
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 login-bx">

            <div class="col-lg-6 right-border d-none" align="center">
                <img src="~/Content/Images/home_page_logo.png" class="img-responsive" />
                <div class="p-md">
                    Email: <a href="mailto:support@akaalwebsoft.com">support@akaalwebsoft.com</a><br />

                    <a href="http://www.webschoolmanager.com/" target="_blank">www.webschoolmanager.com</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="heading">Forgot Password</div>

                <form action="@Url.Action("ForgotPassword", "Home")" id="formForgetPassword" class="dialog-form" method="POST">
                    <div class="form-group">
                        <span class="text-center text-danger">@ViewBag.ErrorMessage</span>
                    </div>
                    @if ((string)(ViewBag.SuccessMessage) == "UnSuccess")
                    {
                        <div class="form-group">
                            @*<label for="objUserMaster_EmailId" class="control-label">Username:</label>*@
                            @Html.TextBox("objUserMaster.EmailId", (string)ViewBag.EmailId, new { autocomplete = "off", maxlength = 50, required = "required", @type = "email", oninvalid = "InvalidMsg(this);", oninput = "InvalidMsg(this);", autofocus = true, placeholder = "Enter Your Email Id", @class = "form-control" })
                        </div>
                        <input type="submit" name="sendLink" value="Submit" class="login-btn" />
                        <div class="text-right p-md">
                            <a href="@Url.Action("Index", "Home")">Back</a>
                        </div>
                    }
                    else
                    {
                        <button class="login-btn" onclick="location.href = '@Url.Action("Index", "Home")'" type="button">Login</button>
                    }
                </form>

            </div>

        </div>

        <div class="col-lg-2"></div>
        <div class="clear"></div>
        <div class="text-center p-md3">
            © Web School Manager All Rights Reserved.<br />
            Powered By: <a href="http://akaalwebsoft.com/" target="_blank">Akaal WebSoft Pvt. Ltd.</a>
        </div>

    </div>
</div>



<script>
    $('#formForgetPassword').submit(function () {
        $('input[type=submit]', this).attr('disabled', 'disabled');
    });
</script>

<script>
        function InvalidMsg(textbox) {

            if (textbox.value == '') {
                textbox.setCustomValidity('Required Email ID');
            }
            else if (textbox.validity.typeMismatch) {
                textbox.setCustomValidity('Please enter a valid Email ID');
            }
            else {
                textbox.setCustomValidity('');
            }
            return true;
        }
</script>
