@model  BusinessObjects.Common.UserMaster
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 login-bx">

            <div class="col-lg-6 right-border d-none" align="center">
                <img src="~/Content/Images/home_page_logo.png" class="img-responsive" />
                <div class="p-md">

                    Email: <a href="mailto:support@akaalwebsoft.com">support@akaalwebsoft.com</a><br />

                    <a href="http://www.webschoolmanager.com/" target="_blank">www.webschoolmanager.com</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="heading">Reset Password</div>

                @ViewBag.ErrorMessage

                <form action="@Url.Action("ResetPassword", "Home")" class="dialog-form" method="POST">
                    @Html.Hidden("objUserMaster.PasswordResetToken", Model.PasswordResetToken)
                    @Html.Hidden("objUserMaster.Id", Model.Id)

                    <div class="form-group">
                        @Html.TextBox("objUserMaster.NewPassword", Model.NewPassword, new { autocomplete = "off", @readonly="readonly", onfocus= "this.removeAttribute('readonly');", type = "Password", required = "required", autofocus = true, placeholder = "Enter New Password", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("objUserMaster.ConfirmPassword", Model.ConfirmPassword, new { autocomplete = "off", type = "Password", required = "required", placeholder = "Confirm New Password", @class = "form-control" })
                    </div>
                    <input type="submit" class="login-btn" name="resetPassword" value="Reset Password" />
                </form>

            </div>

        </div>

        <div class="col-lg-2"></div>
        <div class="clear"></div>
        <div class="text-center p-md3">
            © Web School Manager All Rights Reserved.<br />
            Powered By: <a href="http://akaalwebsoft.com/" target="_blank">Akaal WebSoft Pvt. Ltd.</a>
        </div>

    </div>
</div>



<script>
    var password = document.getElementById("objUserMaster_NewPassword"),
        confirm_password = document.getElementById("objUserMaster_ConfirmPassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
